---
import settings from "./../data/settings.json"
---

<div class="row">

    <div class="col-sm-6 col-lg-4 pb-20">
        <div class="contact-item wow fadeScaleIn" data-wow-delay="0" data-wow-duration="1s">
            <div class="ci-icon">
                <i class="fa fa-phone-alt"></i>
            </div>
            <div class="ci-title">
                Soita meille
            </div>
            <div class="ci-text">
                +&#51;58 4&#52; 216 23 &#49;2
            </div>
            <div class="ci-link">
                <a href="tel:&#51;584&#52;21623&#49;2" target="_blank">Soita meille</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-4 pb-20">
        <div class="contact-item wow fadeScaleIn" data-wow-delay=".1s" data-wow-duration="1s">
            <div class="ci-icon">
                <i class="fa fa-map-marker-alt"></i>
            </div>
            <div class="ci-title">
                Osoite
            </div>
            <div class="ci-text">
                Linnuntie 26, 96440 Rovaniemi
            </div>
            <div class="ci-link">
                <a href={settings.map} target="_blank">Katso kartalta</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-4 pb-20">
        <div class="contact-item wow fadeScaleIn" data-wow-delay=".2s" data-wow-duration="1s">
            <div class="ci-icon">
                <i class="fa fa-envelope"></i>
            </div>
            <div class="ci-title">
                Sähköposti
            </div>
            <div class="ci-text">
                mari&#46;val&#117;i&#64;&#112;e&#114;&#104;ekoti&#104;okkan&#101;&#110;&#46;&#102;i
            </div>
            <div class="ci-link">
                <a href="mailt&#111;&#58;m&#97;&#37;72i&#46;v&#97;lui&#64;%70&#101;rh&#101;%6&#66;&#111;%74ih&#37;6F%6B&#107;%&#54;1&#110;en&#46;f&#105;">Оta yhteyttä</a>
            </div>
        </div>
    </div>

</div>