---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Images from "../data/gallery.json";
---

<Layout title="Perhekoti - Galleria" description="Perhekoti - Galleria">
    <main id="main">
        <Header title="Galleria" subtitle="" />

        <section class="page-section">
            <div class="container relative">
                <div class="row mb-0 mb-xs-40 align-left">
                    {
                        Images.map(
                            (image, key) =>
                                <div class="col-lg-3 col-sm-4 col-6">
                                    <div class="post-prev-img mb-30 wow fadeScaleIn" data-wow-duration="1s" data-wow-delay={`0.${key + 1}s`}>
                                        <a href={image.image} class="lightbox mfp-image"><img src={image.thumb} alt={image.title} /></a>
                                    </div>
                                </div>
                        )
                    }
                </div>
            </div>
        </section>
    </main>
</Layout>