---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro";
import TeamSection from "../components/TeamSection.astro";
---

<Layout title="Our Team" description="description">
    <Header title="Meistä" subtitle="Extraordinary art team & creative minimalism lovers"/>

    <section class="page-section">
        <div class="container relative">
            <div class="mb-120 mb-sm-50">
                <div class="row section-text">

                    <div class="col-md-12 col-lg-4 mb-md-50 mb-xs-30">
                        <div class="lead-alt wow linesAnimIn" data-wow-offset="0" data-splitting="lines">
                            Our mission is to make design simple and useful.
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-sm-50 mb-xs-30 wow linesAnimIn" data-wow-offset="0" data-splitting="lines">
                        Lorem ipsum dolor sit amet conseur adipisci inerene maximus ligula sempe metuse pelente mattis. Maecenas volutpat, diam eni sagittis quam porta quam. Sed id dolor consectetur fermentum volutpat accumsan purus.
                    </div>

                    <div class="col-md-6 col-lg-4 mb-sm-50 mb-xs-30 wow linesAnimIn" data-wow-offset="0" data-splitting="lines">
                        Etiam sit amet fringilla lacus susantebe sit ullamcorper pulvinar neque porttitor. Integere lectus. Praesent sede nisi eleifend fermum orci amet, iaculis libero. Donec vel ultricies purus. Name dictum sem ipsumebe euliquam.
                    </div>

                </div>
            </div>
            <TeamSection />
        </div>
    </section>
</Layout>